Options +FollowSymLinks -MultiViews
RewriteEngine On

# ⚠️ Vérifie bien que ce dossier correspond exactement à ton dossier WAMP
RewriteBase /projet_orga/

# Si ce n'est pas un fichier existant
RewriteCond %{REQUEST_FILENAME} !-f
# Si ce n'est pas un dossier existant
RewriteCond %{REQUEST_FILENAME} !-d

# ALORS on réécrit l'URL
# Le (.+) prend TOUT ce qui suit et le met dans $1
RewriteRule ^(.+)$ index.php?action=$1 [QSA,L]